body {
    font-family: s"Segoe UI Semibold";
    font-size: 1.1em;
    background-color:#eee;
  }
  
  .navbar-light .navbar-brand {
    color: white;
  }
  
  .navbar {
    background-color: white;
    width: 100%;
    padding: 0;
  }
  
  .navbar-brand {
    font-family: "Segoe UI Semibold"
    font-size: 25px;
    font-weight: bolder;
    background-color: #007bff;
    padding: 10px;
    margin-left: 5%;
  }
  
.navbar-collapse {
    font-size: small;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

#navbarNavDropdown {
    position: relative;
    padding: auto;
  }
  
  .nav-item {
    font-weight: bold;
    color: black;
  }
  
  .content {
    width:90%;
    margin: 20px auto;
    padding:1em;
  }
    
  .buttons {
    margin-bottom: .5em;
  }
  
  .text-left {
    text-align: left;
    color:#108cbd;
    font-family: "Segoe UI Semibold";
    font-weight: bolder;
  }
  
  .text-center {
    color: #158cba;
    font-family: "Segoe UI Semibold";
    font-weight: bolder;
  }
  
  p:not(.intro) {
    text-align: justify;
    color: rgb(66, 66, 66);
  }
  
  .thumbnail {
    width:50%;
  }
  
  .main-image {      
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      float: left;
  }
  
  .col-md-8 {
    background-color: white;
  }
  
  .col-sm-12,.col-md-4 {
    background-color: white;
  }
  
  div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img {
    width: 100%;
  }
  
  .imagetiles {
    background-color: white;
  }
  div.imagetiles div.col-lg-6.col-sm-12 img {
    width: 100%;
  }
  
  div.col-sm-12.col-md-12 p {
    color: black;
    font-size: medium;
  }
      
  .panel-body:hover {
    border-color: rgb(226, 43, 119);
  }
